@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        .error {
            color: red; /* Красный цвет символов */
            font-size: 200%; /* Размер шрифта в процентах */
        }
    </style> 
    <title>SeoAnalyzer</title>
</head>
<body>
    <p>SeoAnalyzer</p>
    <div>
        @RenderBody()
    </div>
</body>
</html>
